.cards {
  display: flex;
  padding: 6rem 0;
  margin: 6rem 0;
}

.card {
  padding: 0 2rem;
  flex: 1 0 0%;

  .icon {
    height: 45px;
    width: auto;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .cards {
    flex-direction: column;
  }
}
