.text-intro {
  min-width: 30rem;

  strong {
    display: block;
    color: var(--primary);
    margin-bottom: 1rem;
  }
  b {
    color: var(--primary);
  }
  h2 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  img.icon {
    max-width: 3rem;
    height: auto;
  }

  &-center {
    text-align: center;
    max-width: 40rem;
    margin: 5rem auto;
  }

  &-simple {
    h3 {
      font-size: 2rem;
    }
  }

  &-with-image {
    display: flex;
    margin-top: 20rem !important;
    margin-bottom: 20rem !important;
    z-index: 5;

    .content {
      padding: 0 2rem;
      position: relative;
      z-index: 10;
    }

    // Image
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        font-size: 3rem;
        font-weight: var(--font-weight-bold);
        color: var(--primary);
        position: relative;
        z-index: 10;
      }
    }

    & > * {
      flex: 0 50%;
    }

    .halfmoon:before,
    .swoosh:before {
      position: relative;
      content: "";
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
    }

    .halfmoon {
      &:before {
        width: 700px;
        height: 825px;
        background-image: url("../assets/bg-halfmoon.jpeg");
      }
    }

    .swoosh {
      &:before {
        width: 500px;
        height: 277px;
        background-image: url("../assets/bg-swoosh.jpeg");
      }
    }
  }
}

@media (max-width: 1024px) {
  .text-intro-with-image {
    margin-top: 12rem !important;
    margin-bottom: 0rem !important;
    .halfmoon {
      &:before {
        width: 340px;
        height: 400px;
      }
    }

    .swoosh {
      &:before {
        width: 400px;
        height: 222px;
      }
    }
  }
}

@media (max-width: 767px) {
  .text-intro {
    min-width: 0px;
    width: 100%;
  }
  .text-intro-with-image {
    flex-direction: column;
    text-align: center;
    margin-top: 12rem !important;
    margin-bottom: 0rem !important;

    .content {
      order: 2;
    }
    .image {
      order: 1;
    }

    .halfmoon {
      &:before {
        background-image: none;
      }
    }

    .swoosh {
      &:before {
        background-image: none;
      }
    }
  }
}
