body {
  --black: #000;
  --white: #fff;
  --primary: #ffd800;

  --textcolor: var(--white);
  --bg-color: var(--black);

  --font-weight-base: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  --font-family-base: "Montserrat", Arial, sans-serif;
}
