.about{
    margin: 0;
    padding: 0;
    background-color: black;
}

.aboutHeader{
    margin-top: 20em;
    text-align: center;
}

.aboutHeader h1{
    color: #FFD800;
    font-size: 3rem;
}

.aboutHeader h2{
    font-size: 1.8rem;
    color: white;
}