.firstBlock {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 11em;

  & > * {
    position: relative;
    z-index: 10;
  }
}

h1 {
  color: white;
  font-size: clamp(2rem, 5.5vw, 4rem);
  max-width: 70rem;
  margin: 0 auto;
}
h1 > span {
  color: var(--primary);
  display: block;
}

.text-intro {
  position: relative;
  z-index: 10;
}

.main-action {
  display: flex;
  margin-top: 16em;
  margin-bottom: 15em;

  .text-intro {
    transform: translate(0, -2rem);
    width: 50%;
  }
}

.main-action div:last-of-type {
  position: relative;

  h2 {
    color: var(--primary);
    font-size: 3rem;
    position: relative;
    z-index: 10;
  }

  &:before {
    content: "";
    display: block;
    width: 700px;
    height: 1080px;
    background: url("../assets/bg-home-intro.jpeg");
    background-size: contain;
    position: absolute;
    top: -460px;
    left: -130px;
    z-index: 1;
  }
}

/* smart phone*/

@media (max-width: 767px) {
}

/* tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* full size screens*/
@media only screen and (min-width: 1024px) {
}
