.firstBlock {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstContainer {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 11em;

  & > * {
    position: relative;
    z-index: 10;
  }
}

h1 {
  color: white;
  font-size: clamp(2rem, 5.5vw, 4rem);
  max-width: 70rem;
  margin: 0 auto;
}
h1 > span {
  color: var(--primary);
  display: block;
}

.secondContainer {
  display: flex;
  margin-top: 16em;

  .text-intro {
    position: relative;
    z-index: 10;
    transform: translate(0, -2rem);
    width: 50%;
  }
}

.secondContainer div:last-of-type {
  position: relative;

  h2 {
    color: var(--primary);
    font-size: 3rem;
    position: relative;
    z-index: 10;
    transform: skewY(-6deg) skewX(-2deg) rotate(1deg) translateX(39px);
  }

  &:before {
    content: "";
    display: block;
    width: 700px;
    height: 1080px;
    background: url("../assets/bg-home-intro.jpeg");
    background-size: contain;
    position: absolute;
    top: -460px;
    left: -100px;
    z-index: 1;
  }
}

/*                                    */

.thirdContainer {
  margin-top: 15em;
  text-align: center;

  position: relative;
  z-index: 10;
}

.thirdContainer img {
  width: 2.5rem;
}

.thirdContainer h1 {
  color: white;
  font-size: 3rem;
}

.thirdContainer h2 {
  color: white;
  font-size: 1.8rem;
}

.thirdContainer button {
  color: black;
  background-color: #ffd800;
  font-size: 1.4rem;
  border: none;
  border-radius: 1.7rem;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.thirdContainer button:hover {
  background-color: #ffe867;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*      SECOND BLOCK                              */

.secondBlock {
  padding-top: 1em;
  margin-top: -5em;
  padding-bottom: 0em;
}

.secondBlock .firstContainer {
  display: flex;
  flex-direction: row;
}

.secondBlock .firstContainer .firstHalf {
  color: white;
  text-align: left;
  margin-left: 15em;
  margin-top: 10em;
}

.secondBlock .firstContainer .firstHalf h1 {
  font-size: 2rem;
}

.secondBlock .firstContainer .firstHalf p {
  font-size: 1.5rem;
}

.secondBlock .firstContainer .secondHalf {
  width: 70%;
  margin-left: -8em;
}

.secondBlock .firstContainer .secondHalf img {
  margin-top: -12em;
  width: 100%;
  height: auto;
}

.secondBlock .secondContainer {
  margin: 0;
  display: flex;
  margin-top: 10em;
}

.secondBlock .secondContainer .firstHalf {
  width: 50%;
  padding: 0;
}

.secondBlock .secondContainer .firstHalf img {
  width: 50em;
  margin-left: 5em;
  margin-top: -8em;
}

.secondBlock .secondContainer .secondHalf {
  width: 50%;
  color: white;
  text-align: left;
  margin-left: 8em;
  margin-top: 8em;
}

.secondBlock .secondContainer .secondHalf h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 2rem;
}
.secondBlock .secondContainer .secondHalf p {
  color: white;
  font-size: 1.5rem;
}

.secondBlock .thirdContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #101010;
  padding: 5em;
}

.secondBlock .thirdContainer h1 {
  color: white;
  margin-top: 0;
  font-size: 2rem;
}

.secondBlock .thirdContainer p {
  font-size: 1.5rem;
  color: white;
}

.secondBlock .thirdContainer img {
  width: 3em;
}

.secondBlock .thirdContainer .block {
  padding: 1em;
}

.secondBlock .thirdContainer .block:nth-child(2) {
  margin-top: -1.6em;
}
/*                     THIRD BLOCK                             */

.thirdBlock {
  text-align: center;
  padding: 8em;
  padding-bottom: 16em;
}

.thirdBlock img {
  width: 3em;
}

.thirdBlock h1 {
  font-size: 2rem;
}

.thirdBlock h2 {
  font-size: 1.5rem;
}

.thirdBlock button {
  color: black;
  background-color: #ffd800;
  font-size: 1.4rem;
  border: none;
  border-radius: 1.7rem;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.thirdBlock button:hover {
  background-color: #ffe867;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/* smart phone*/

@media (max-width: 767px) {
}

/* tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* full size screens*/
@media only screen and (min-width: 1024px) {
  .firstBlock {
    width: 100%;
    background-size: 80%;
    background-position: 34em 1em;
  }

  .thirdBlock {
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
