.firstBlock {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstBlockContainer {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 11em;
}
/*                                    */

.firstBlockContainer h1:first-child{
  color: white;
  font-size: 4rem;
}
.firstBlockContainer h1:nth-child(2){
  color: #FFD800;
  font-size: 4rem;
  margin-top: -0.5em;
}
/*                                    */
.firstBlockSecondContainer{
  display: flex;
  width: auto;
  margin-top: 11em;
}

.firstBlockSecondContainer .firstHalf{
  width: 30%;
  padding-left: 10em;
}

.firstBlockSecondContainer .firstHalf h1{
  color: #FFD800;
  font-size: 1.2rem;
}

.firstBlockSecondContainer .firstHalf h2{
  color: white;
  font-size: 2rem;
}
.firstBlockSecondContainer .firstHalf p{
  color: white;
  font-size: 1.3rem;
}

.firstBlockSecondContainer .firstHalf button{
  color: black;
  background-color: #FFD800;
  font-size: 1.4rem;
  border: solid 1px;
  border-radius: 1.7rem;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.firstBlockSecondContainer .firstHalf button:hover {
  background-color: #ffe867;
  cursor: pointer;
  transition: 0.2s ease-in;
}


.firstBlockSecondContainer .secondHalf h1{
  color: #FFD800;
  font-size: 3rem;
  padding-left: 4em;
}



/*                                    */
 
/* full size screens*/
@media only screen and (min-width: 1024px) {
  .firstBlock{
    width: 100%;
    background-size: 80%;
    background-position: 34em 1em;
  }
}

