.navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  position: fixed;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .leftSide img {
  width: 10em;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a {
  color: rgb(223, 222, 222);
  text-decoration: none;
  padding: 1.5rem;
}

.navbar a:hover{
  color: white;
  transition: 0.2s ease-in-out;
}

.navbar a:nth-child(3){
  margin-left: 1rem;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .rightSide svg{
  color: white;
  font-size: 5rem;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
}

.navbar #close .hiddenLinks {
  display: none;
}


@media only screen and (min-width: 1024px) {
  .navbar .rightSide{
    margin-right: 4em;
  }

  .navbar .rightSide a {
    width: 3rem;
    font-size: 1.5rem;
  }
  .navbar .leftSide {
    padding-left: 3em;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
    font-size: 10px;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }

  .navbar .rightSide svg{
    color: white;
    font-size: 40px;
  }

  .navbar .leftSide {
    margin-left: -15px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
