.navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  position: fixed;
  z-index: 1000;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .leftSide img {
  width: 10em;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a {
  color: rgb(223, 222, 222);
  text-decoration: none;
  padding: 1.5rem;
}

.navbar a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .rightSide svg {
  color: white;
  font-size: 5rem;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
}

.navbar #close .hiddenLinks {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar .leftSide img{
    margin-left: 3em;
  }
  .navbar .rightSide a{
    display: none;
  }
}

/* tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .rightSide a{
    display: none;
  }
  .navbar .leftSide img{
    margin-left: 5em;
  }

  .hiddenLinks{
    font-size: 1.5rem;
    margin-left: 2em;
  }
}



@media only screen and (min-width: 1024px) {
  .navbar .rightSide {
    margin-right: 4em;
  }

  .navbar .rightSide a {
    font-size: 1.2rem;
  }
  .navbar .leftSide {
    padding-left: 3em;
    font-size: 1.2em;
  }

  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
