@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@import "./styles/variables";
@import "./styles/reboot";
@import "./styles/text-intro";

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  /* Disables vertical scrollbar*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: var(--black);
}

/* Disables vertical scrollbar*/
body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: var(--font-weight-bolder);
}

h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
}

button,
.btn {
  color: var(--black);
  background-color: var(--primary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 1.7rem;
  padding: 0.5em 1.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:hover {
    background-color: #ffe867;
    transition: 0.2s ease-in;
  }
}

.container {
  width: 100%;
  max-width: 1088px;
  margin: 0 auto;
}
